extends ../layout

append script
  script(src=require('./ui.js'))
  //- script(src=require('../../modules/blocks/airDatepicker/airDatepicker.js'))
  script(src=require('../../modules/blocks/datepicker/datepicker.js'))
  //- script(src=require('../../modules/blocks/expandable-checkbox-list/dropdown-checkbox.js'))

append style
    link(rel='stylesheet' href=require('./ui.scss'))


include ../mixins


block content
  a(href='index.html')
      button.ui__to-home < Home 
  .wrapper
      h2.ui__info Color & Type
      article.ui__colors.ui-block
        include ./ui-parts/colors
      h2.ui__info Form Elements
      article.ui__elements.ui-block
        include ./ui-parts/elements
      h2.ui__info Cards
      article.ui__cards
        include ./ui-parts/cards
      h2.ui__info Headers & Footers
      article.ui__headers-footers
        include ./ui-parts/headersAndFooters