//- include mixins

doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='Keywords' content='отель, бронь, номер, тег, гостиница')
    meta(name='description' content='Сайт по бронированию номеров')
    title Toxin - бронирование номеров
    link(rel='icon' href=require('~Images/favicon.ico'))

    //- require source styles directly in template for processing via webpack
    link(rel='stylesheet' href=require('~Styles/styles.scss'))
    link(rel='stylesheet' href=require('~Styles/modules/footer.scss'))
    
    //- the compiled CSS from public path
    //- link(rel='stylesheet' href='assets/css/vendor.css')
    //- link(rel='stylesheet' href='assets/css/post-css-demo.min.css')

    script(src='app.js')

  body
    .wrapper
      #app-root
        //- The application content from PUG templates will be added via JavaScript.
            This supports `live reload` after edit.
      .footer
        .footer-brand
            img(src=require('Images/Group.svg') alt="Group-ico")
            img(src=require('Images/TOXIN.svg') )
            p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-navi
            ul 
                h3 Навигация
                li О нас
                li Новости
                li Служба поддержки
                li Услуги
        .footer-about
            ul 
                h3 о нас
                li О сервисе
                li Наша команда
                li Вакансии
                li Инвесторы
        .footer-link
            ul 
                h3 Служба поддержки
                li Соглашения
                li Сообщества
                li Связь с нами
        .footer-subscribe
            ul 
                h3 Подписка
                li Получайте специальные предложения и новости сервиса
                li
                    .subscribe-input
                        input(type="text" placeholder="Email") 
                        img(src=require('Images/arrow_forward.svg'))
                        
        .footer-shadow                
        .footer-copyright 
            p Copyright © 2018 Toxin отель. Все права защищены.

      



