mixin headImg
  .head-container
    img(src=require('Images/GroupBlack.svg')) 
  //- img(src=require('Images/`${name}`.svg'))
//- mixin img(name)
//-     img(src=require(`../src/images/${name}`) alt=name)