mixin toxinLogo 
  img(src=require('Images/Group.svg') alt="Group-ico" class="toxin-img")
  img(src=require('Images/TOXIN.svg') alt="Group-name" class="toxin-img")
mixin headImg
  .head-container
    img(src=require('Images/GroupBlack.svg')) 
mixin headImgGrey
  .head-container_grey
    img(src=require('Images/GroupBlack.svg')) 
mixin subscriptionField
  form.subscribtion
    input(type="text" placeholder="Email") 
    button(type="submit")
      img(src=require('Images/arrow_forward.svg'))
mixin textField
  form.text
    input(type="text" placeholder="Email") 
mixin dropdown(oneLi, twoLi, threeLi)
  .drop-wrap 
    form.dropdown(data-dropdown)
      input.dropdown-toggle(data-dropdown-button id="visitors" value="Сколько гостей")
      .dropdown-menu  
        ul 
          li 
            div 
              h3= oneLi
            .dropdown-button
              button(type="button" id="dropdown-oneLi-minus" class="non-active")
                p -
              h3#calc1 0
              button(type="button" id="dropdown-oneLi-plus")
                p +
          li 
            div 
              h3= twoLi
            .dropdown-button 
              button(type="button" id="dropdown-TwoLi-minus" class="non-active")
                p -
              h3#calc2 0
              button(type="button" id="dropdown-TwoLi-plus")
                p +
          li 
            div 
              h3= threeLi
            .dropdown-button 
              button(type="button" id="dropdown-ThreeLi-minus" class="non-active")
                p -
              h3#calc3 0
              button(type="button" id="dropdown-ThreeLi-plus")
                p +
          li 
            button(type="button")
              h3#dropdown-reset очистить
            button(type="button")
              h3#dropdown-apply применить
              //- id="dropdown-apply"

mixin dropdownWord(...items)
  
    ul.dropdown-li-menu 
      each item in items
          li 
            a(target='_blank' href='//google.com')= item
          
            
mixin birthDate 
  input(type="date" class="date-field") 
mixin enterButton(text)
  button(type="button" class="enter-button") 
    h3= text
mixin registerButton(text)
  button(type="button" class="register-button") 
    h3= text
mixin actionButton
  button(type="button" class="non-active")
//- mixin dropdownCalendar 
