//- выбор получения специальных предложений
mixin radioButtons({title, text, name, id, checked, radioName, radioId = 'radio',  items}={})
  form.radio-button
    if (title)
      label.radio-button__title(for=id)=title 
    ul.radio-button__options(id=id)
          each item in items
            - const {radioId, checked = false, radioName='genders', text = ''} = item;
              li.radio-button__li(id=radioId)
                label.radio-button__label
                  input.radio-button__input_hidden(type='radio' id=radioId checked=checked name=radioName)
                  span.radio-button__box     
                  span.radio-button__name= text
            
