//- ввод даты
mixin maskedTxtField({title='', value='ДД.ММ.ГГГГ',  placeholder='ДД.ММ.ГГГГ', type='text', classDirection, readonly=true}={})
      if (title)
        label.masked-text__label=title   
      form.masked-text__controls
        input.masked-text__input(placeholder=placeholder, class=classDirection, type=type, value=value, readonly=readonly)


