//- //- checkbox для выбора количества дополнений к номеру
//- mixin checkBoxList(active, value="Дополнительные удобства", class2, class3, class4)
//-   form(data-dropdownCheckBox class="dropdown mid-size" class= active)
//-     .drop-wrap 
//-       h3.dropdown-toggle(data-dropdownCheckBox-button id="checkbox")=value
//-       img(src=require('Images/expand_more.svg') data-dropdownCheckBox-button)
//-     .check-menu
//-         ul 
//-             li 
//-                input.checkbox(type='checkbox' value='Завтрак' )
//-                label(for='Завтрак')='Завтрак'
//-             li 
//-                input.checkbox(type='checkbox' name='Письменный стол')
//-                label(for='Письменный стол')='Письменный стол'
//-             li 
//-                input.checkbox(type='checkbox' name='Стул для кормления' checked=class2)
//-                label(for='Стул для кормления')='Стул для кормления'      
//-             li 
//-                input.checkbox(type='checkbox' name='Кроватка', checked=class3)
//-                label(for='Кроватка')='Кроватка'     
//-             li 
//-                input.checkbox(type='checkbox' name='Телевизор', checked=class4)
//-                label(for='Телевизор')='Телевизор'    
//-             li 
//-                input.checkbox(type='checkbox' name='Шампунь')
//-                label(for='Шампунь')='Шампунь'    

//- checkbox для выбора количества дополнений к номеру
mixin checkBoxList(options={})
  - const {name = '', open = '', id = 'checkbox', closing = true, items = []} = options;
  form(data-dropdownCheckBox=closing class="dropdown mid-size" class=open)
    .drop-wrap 
      h3.dropdown-toggle(data-dropdownCheckBox-button id=id)=name
      img.check-mark(src=require('Images/expand_more.svg') data-dropdownCheckBox-button)
    .check-menu
        ul 
          each item in items
            - const {id = '', checked = false, text = ''} = item;
              li 
                input.checkbox(type='checkbox' id=id checked=checked )
                label(for=id)=text

            

