//- Круглое лого и надпись Toxin
mixin toxinLogo 
  include ../modules/blocks/toxinLogo/toxinLogo

//- Цветной лого для UI
mixin headImg
  .head-container
    img(src=require('Images/GroupBlack.svg')) 

//- ЧБ лого для UI
mixin headImgGrey
  .head-container_grey
    img(src=require('Images/GroupBlack.svg')) 

//- copyright
mixin copyright
  include ../modules/blocks/copyright/copyright

mixin linkSocial
  include ../modules/blocks/social-links/social-links

    
//- Input для подписки    
mixin subscriptionField
  form.subscribtion
    input(type="text" placeholder="Email") 
    button(type="submit")
      img(src=require('Images/arrow_forward.svg'))

//- Email input
mixin textField
  form.text
    input(type="text" placeholder="Email") 

          
//- dropdown для меню header'a
mixin dropdownWord(...items)
    .dropdown-el-menu
      ul
        each item in items
          li 
            a(target='_blank' href='//google.com')= item
          
//- input с датой рождения           
mixin birthDate 
  input(type="text" class="date-field" value="ДД.ММ.ГГГГ") 

//- input dropdown date
mixin drophDate 
  
  form.date-dropdown(data-dropdown)
    .date-dropdown_input()
      input.dropdown-toggle(type="date" value="дд.мм.гггг" data-dropdown-button)
      img(src=require('Images/expand_more.svg') data-dropdown-button)
    .calendar 
        p 123


mixin enterButton(text)
  button(type="button" class="enter-button") 
    h3= text
mixin registerButton(text)
  button(type="button" class="register-button") 
    h3= text
mixin actionButton
  button(type="button" class="non-active")
//- mixin dropdownCalendar 
