.footer
        .footer-brand
            img(src=require('Images/Group.svg') alt="Group-ico")
            img(src=require('Images/TOXIN.svg') )
            p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-navi
            h3 Навигация
            ul 
                a(target='_blank' href='//google.com')  
                  li О нас
                a(target='_blank' href='//google.com')  
                  li Новости
                a(target='_blank' href='//google.com')  
                  li Служба поддержки
                a(target='_blank' href='//google.com')  
                  li Услуги
        .footer-about
            h3 о нас
            ul 
                a(target='_blank' href='//google.com')  
                  li О сервисе
                a(target='_blank' href='//google.com')  
                  li Наша команда
                a(target='_blank' href='//google.com')  
                  li Вакансии
                a(target='_blank' href='//google.com')  
                  li Инвесторы
        .footer-link
            h3 Служба поддержки
            ul 
                a(target='_blank' href='//google.com')  
                  li Соглашения
                a(target='_blank' href='//google.com')  
                  li Сообщества
                a(target='_blank' href='//google.com')  
                  li Связь с нами
        .footer-subscribe
            h3 Подписка
            ul 
                li 
                  p Получайте специальные предложения и новости сервиса
                li
                    +subscriptionField
                        
        .footer-shadow                
        .footer-copyright 
          p Copyright © 2018 Toxin отель. Все права защищены.
        .footer-social
          a(target='_blank' href='//google.com')  
            img(src=require('Images/twitter.svg'))
          a(target='_blank' href='//google.com') 
            img(src=require('Images/facebook.svg'))
          a(target='_blank' href='//google.com') 
            img(src=require('Images/instagramm.svg'))