mixin checkboxElem(name, id, checked=false)
  li.checkbox-li(id=id)
    label.checkbox-li__label
      input.checkbox-li__input_hidden(type='checkbox', checked=checked)
      span.checkbox-li__box
      span.checkbox-li__name= name
mixin richCheckboxElem(name, text, id, checked=false)
  li.checkbox-li(id=id)
    label.checkbox-li__label
      input.checkbox-li__input_hidden(type='checkbox', checked=checked)
      span.checkbox-li__box
      .checkbox-li__text-section
        h3.rich-checkbox-li__name= name
        span.rich-checkbox-li__text!= text