mixin roomInfo({num, luxe=false, price="price", leftValueDate, rightValueDate, date, discount=true, services=0, values, additionalServices=300}={})
  .room-info.js-main__room-info
    .room-info__title 
      .room-info__number
        span.room-info__number_small №
        h1.room-info__number_main=num
        if (luxe) 
          span.room-info__number_luxe люкс
      .room-info__price 
        //- - const priceName = price.toLocaleString()+"₽";
        span.room-info__price-count.js-room-info__price-count= price
        span.room-info__price-text в сутки
    .room-info__datepicker
      +datePicker({calendarId: 'two-dates-cal-room-info', 
                  leftTitle: 'прибытие', 
                  rightTitle: 'выезд', 
                  leftId: "leftCal", 
                  firstDateClass: "js-left-data-room-info", 
                  secondDateClass:"js-right-data-room-info", 
                  leftValueDate: leftValueDate, 
                  rightValueDate: rightValueDate, 
                  datePickerId: 'date-picker-room-info', 
                  type: 'two-input'})
    .room-info__guests-dropdown.js-main__guest-dropdown
      +dropdownGuest({title: 'гости', id: 'guests-room-info', values: values })
    .room-info__check 
      .room-info__date-price
        .room-info__calc
          span.js-room-info__price-date-count= price 
          span=" х " 
          span.js-room-info__calc
          span.js-room-info__text-days=" суток"
        .room-info__date-total-count
          span.js-date-total-count dayPrice 
          span="₽"
      .room-info__services
        .room-info__discount-info
          span.room-info__service-charge Сбор за услуги: 
          if (discount) 
            span.room-info__discount скидка 
            span.room-info__discount-price.js-room-info__discount-price
          .room-info__discount-button
            +prompt('Какая то подсказка1')
        .room-info__services-price
          span=services.toLocaleString()+"₽"
      .room-info__additional-services
        .room-info__additional-discount-info
          span.room-info__additional-service-charge Сбор за дополнительные услуги 
          .room-info__discount-button
            +prompt('Какая то подсказка2')
          //- button.room-info__discount-button i
        .room-info__services-price
          span.js-room-info__additional-services
    .room-info__total   
      h2 Итого
      span.room-info__dotted 
      h2.js-room-info__total-price totalPrice
    .room-info__button 
      +registerButton({text:'забронировать', arrow:true})